.produtos-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.produtos-container h2 {
    color: #f71963;
    margin-top: 30px;
}

.categorias {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}

.categoria {
    width: calc(16.980% - 5px);
    padding: 5px;
    background-color: white;
    border: 1px solid #ddd;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    line-height: 1.4;
    position: relative;
}

.categoria:not(:last-child):after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ddd;
}

.categoria:nth-child(1) {
    background-color: #ffffff;
    color: #f71963;
    font-weight: bold;
}

.produtos-carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.card {
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 20px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.card img {
    width: 100%;
    margin-bottom: 15px;
}

.card p {
    margin: 10px 0;
    font-size: 1em;
}

.preco {
    text-decoration: line-through;
    color: #555;
}

.preco-desconto {
    font-size: 1.2em;
    font-weight: bold;
}

.frete-parcelas {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.frete-gratis {
    font-size: 0.9em;
    color: #f71963;
    margin-top: 5px;
}

.parcelas {
    margin-top: 5px;
}

button {
    padding: 12px 24px;
    background-color: #f71963;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    width: 769px;
    height: 299.26px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    cursor: pointer;
}

.modal-info {
    flex-grow: 1;
    padding-left: 20px;
}

.modal-info h3 {
    margin-top: 20px;
    font-size: 1.2em;
    color: #283593;
    margin-right: 220px;
}

.modal-info .modal-price {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #283593;
    float: left;
}

.modal-info p {
    margin-top: 5px;
    font-size: 1em;
    color: #aaa;
    text-align: left;
    clear: both;
}

.modal-info .description {
    font-size: 0.9em;
    color: #aaa;
    margin-top: 5px;
}


.quantidade-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 10px;
    width: fit-content;
    margin-top: 10px;
}

.quantidade-buttons button {
    padding: 2px 5px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.quantidade-buttons button:hover {
    background-color: #444;
    color: white;
}

.quantidade-buttons span {
    padding: 0 10px;
    font-size: 0.9em;
}

.buy-button {
    padding: 15px 30px;
    background-color: #f71963;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    margin-right: 400px;
}

.buy-button:hover {
    background-color: #d61e56;
}
